<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs'); %>
    <title>ChatRoom</title>
</head>

<body>
    <%- include('partials/nav.ejs', {user}) %>
    <form class="form-chat" action="/web/rooms/chat" method="POST">
        <h1>Chat</h1>
        <div class="container overflow-auto" style="height: 300px;" id="display">
            <% if (error) { %>
                <p style="color: red"><%= error %></p>
        
            <% } else { %>
                <% for(let m of messages) { %>
                    <% if(m.data.email == user.email){ %>
                        <span class="badge badge-pill badge-primary"><%= m.data.email %> :</span>
                    <% } else {%>
                        <span class="badge badge-pill badge-success"><%= m.data.email %> :</span>
                    <% } %>
                    <%= m.data.content %>
                    <br>
                <% } %>
            <% } %>
        </div>
        <textarea class="form-control" placeholder='<%= user.email %>' name='content'></textarea>
        <input type="hidden" name="roomId" value="<%=roomId%>">
        <button class='btn btn-primary' type='submit'>Send</button>
    </form>






    <%- include('partials/scripts.ejs') %>
</body>

</html>