<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs'); %>
    <title>ChatRoom</title>
</head>

<body>
    
    <%- include('partials/nav.ejs', {user}) %>
    <div class="form-chat">
        <h1>Chat Rooms</h1>
        <div class="container overflow-auto" style="height: 300px;" id="display">
            <% if (error) { %>
                <p style="color: red"><%= error %></p>

            <% } else { %>
                <% for(let r of rooms) { %>  
                    <A href="/web/rooms/chat?roomId=<%=r.id%>" class="btn btn-primary"> <%= r.data.name %> </A>
                    <br><br>
                <% } %>
            <% } %>
        </div>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
    Create Room
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/web/rooms/create" method="POST">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <% if(error){ %>
                    <p style="color: red"><%= error %></p>
                <% } %>
                <input type="text" class="form-control" name="name" placeholder="Room Name">
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </div>

    <%- include('partials/scripts.ejs') %>
</body>

</html>