<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs'); %>
    <title>Profile</title>
</head>

<body>
    <%- include('partials/nav.ejs', {user}) %>
    <h1>Profile</h1>
    
    <table class="table table-stripped">

        <tr>
            <td>Display Name</td>
            <td><%=user.displayName %></td>
        </tr>
        <tr>
            <td>User ID</td>
            <td><%=user.uid %></td>
        </tr>
        <tr>
            <td>Bio</td>
            <td><%=user.bio %></td>
        </tr>
        <!-- <tr>
            <td>Prfile Image</td>
            <td><img src="<%=user.picture%>" ></td>
        </tr> -->

    </table>
    <%- include('partials/scripts.ejs') %>
</body>

</html>